model_checkpoint:
  _target_: pytorch_lightning.callbacks.ModelCheckpoint
  dirpath: null
  filename: "epoch_{epoch:03d}-val_loss_{val/loss:.4f}"
  monitor: "val/loss"
  mode: "min"
  save_top_k: 1
  save_last: true
  auto_insert_metric_name: false

early_stopping:
  _target_: pytorch_lightning.callbacks.EarlyStopping
  monitor: "val/loss"
  patience: 20
  mode: "min"
